<a href="https://colab.research.google.com/github/adowaconan/LevelUpPythonTutorial/blob/master/1_2_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from IPython.display import Image

# Some simple mathematics operations

## +, -, *, /, **, %, //

In [0]:
a = 5
b = 10
c = 3
d = 2

In [0]:
print(f'a + b = {a+b}, ',f'a - b = {a-b}, ', f'a * b = {a*b}, ', f'a / b = {a/b}')

a + b = 15,  a - b = -5,  a * b = 50,  a / b = 0.5

## Power

In [0]:
print(f'c ** d = {c**d}')

c ** d = 9

## Integer remainder

In [0]:
print(f'b % a = {b%a}', f"b %% c = {b%c}" )

b % a = 0 b %% c = 1

## Integer division

In [0]:
print(f'b // a = {b//a}')

b // a = 2

## Complex numbers: and this is why I recommend avoiding naming your variables "`i`" or "`j`"

In [0]:
print(1 + 5j)

(1+5j)

# List: look, it is a list

## There is another class named "tuple", and tuples are just lists, except that they are harder to manipulate at the element level. If you want to have a list that does not change over iterations, it is better to go with tuples.

## You can make a list with "[ ]" or "list()". The difference between them is that one is an implicit function, while the other is an explicit function.

In [0]:
list_1 = [1,2,3,4,5]
list_2 = list((1,2,3,4,5))
print(type(list_1),type(list_2))
print('list_1: ',list_1,'list_2: ',list_2)

<class 'list'> <class 'list'>
list_1:  [1, 2, 3, 4, 5] list_2:  [1, 2, 3, 4, 5]

## Arbitrariness of a list: it does not matter what you put into the list as long as you keep them a list

In [0]:
list_3 = [1,'p',set(),'1',[8373,9],['f']]
print(list_3)

[1, 'p', set(), '1', [8373, 9], ['f']]

## List index: how do you access an element in the list? It is important to note that counting in python starts with "0", in other words, the first position of a list is "0".

## However, the last position is "-1".

In [0]:
my_list = ['p','r','o','b','e']

In [0]:
print(my_list[0])
print(my_list[-1])

p
e

In [0]:
nested_list = ["Happy", [2,0,1,5]]

In [0]:
print(nested_list[0][1])

a

### Negative indexing

In [0]:
try:
    print(my_list[-1])
    print(my_list[-5])
    print(my_list[-10])
except Exception as e:
    print('Error!! ',e)

e
p
Error!!  list index out of range

## Slicing the lists: getting a subset of the list's elements

In [0]:
my_list = ['p','r','o','g','r','a','m','i','z']
# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [0]:
Image(url='https://cdn.programiz.com/sites/tutorial2program/files/element-slicling.jpg')

## Change or add elements to a list

In [0]:
# mistake values
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

# Output: [1, 4, 6, 8]
print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

# Output: [1, 3, 5, 7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

### Append: this the language of "adding"

In [0]:
odd = [1, 3, 5]

odd.append(7)

# Output: [1, 3, 5, 7]
print(odd)

odd.extend([9, 11, 13])

# Output: [1, 3, 5, 7, 9, 11, 13]
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

### There are more explicit ways: "+" and "*" operations

In [0]:
odd = [1, 3, 5]

# Output: [1, 3, 5, 9, 7, 5]
print(odd + [9, 7, 5])

#Output: ["re", "re", "re"]
print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

## Remove elements from a list

In [0]:
# Output: ['p', 'r', 'b', 'l', 'e', 'm']     
my_list = ['p', 'r', 'b', 'l', 'e', 'm'] 
print(my_list)

# delete multiple items
del my_list[1:5]  

# Output: ['p', 'm']
print(my_list)

# delete entire list
del my_list       

# Error: List not defined
try:
    print(my_list)
except Exception as e:
    print(e)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']
name 'my_list' is not defined

The error occurs because we deleted "my_list"

### We can also use `remove()` or `pop()`

### `pop()` removes and returns the last item if the index is not provided

### `clear()` can also be used to empty a list

In [0]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m

## 2 more useful list methods: `sort()` and `reverse()`

In [0]:
my_list = [3, 8, 1, 6, 0, 8, 4]

print('original: ',my_list)
my_list.sort()
print('sorted: ',my_list)
my_list.reverse()
print('reverse of the sorted',my_list)

original:  [3, 8, 1, 6, 0, 8, 4]
sorted:  [0, 1, 3, 4, 6, 8, 8]
reverse of the sorted [8, 8, 6, 4, 3, 1, 0]

### Important: list methods are applied to the list directly and is not reversable

## List comprehension: elegant way to create new lists, aka, one-liner for-loop

In [0]:
pow2 = [2 ** x for x in range(10)] # reads as: for values from 0 to 9, compute 2 to the power of values
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [0]:
pow2 = []
for x in range(10):
    pow2.append(2 ** x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### Nested with if-statement

In [0]:
odd = [x for x in range(20) if x % 2 == 1]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Check if an element is in the list

In [0]:
my_list = ['p','r','o','b','l','e','m']

# Output: True
print("'p' in my_list:",'p' in my_list)

# Output: False
print("'a' in my_list: ",'a' in my_list)

# Output: True
print("'c' not in my_list",'c' not in my_list)

'p' in my_list: True
'a' in my_list:  False
'c' not in my_list True

## for-loop and list

In [0]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

## Advanced list operation: `all()`, `any()`, `enumerate()`, `len()`

In [0]:
my_conditions = [True,True,False]

# are all conditions True?
print(all(my_conditions))
# are any conditions True?
print(any(my_conditions))

False
True

## enumerator and iterator: `enumerate()` is an enumerator that can wrap around an iterator such as a list, so that you can iterate not only through the items in this list but also the index numbers of the items

In [0]:
for ii,element in enumerate(['a','b','c','d','e','f']):
    print(ii,element)

0 a
1 b
2 c
3 d
4 e
5 f

# Set: they are good for comprehending Venn diagrams

In [0]:
my_set = set([1,2,3]) # convert a list to a set
print(my_set)

{1, 2, 3}

As you can see, a set is contained by "{}", and you can create a set by directly {1,2,3}. But I don't recommend that. Explicitly calling function `set()`  avoids the confusion between sets and dictionaries (will be introduced below)

In [0]:
# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

## Sets do not have duplicates

In [0]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

## Manipulate sets

In [0]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [0]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# If you uncomment line 27,
# you will get an error.
# Output: KeyError: 2

#my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [0]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
# Output: random element
my_set.pop()
print(my_set)

# clear my_set
#Output: set()
my_set.clear()
print(my_set)

{'o', 'l', 'e', 'd', 'H', 'W', 'r'}
o
{'e', 'd', 'H', 'W', 'r'}
set()

## Set operations

In [0]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

### Union: can be operated by " | ", but I don't recommend this

In [0]:
Image(url = 'https://cdn.programiz.com/sites/tutorial2program/files/set-union.jpg')

In [0]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

### Intersection: can be operated by "&", but I don't recommended this

In [0]:
Image(url='https://cdn.programiz.com/sites/tutorial2program/files/set-intersection.jpg')

In [0]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [0]:
A.intersection(B)

{4, 5}

In [0]:
B.intersection(A)

{4, 5}

### Difference: can be operated by "-", but I don't recommend this

In [0]:
Image(url='https://cdn.programiz.com/sites/tutorial2program/files/set-difference.jpg')

In [0]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [0]:
A.difference(B)

{1, 2, 3}

In [0]:
B.difference(A)

{6, 7, 8}

### Symmetric difference: can be operated by "^", but I don't recommend this

In [0]:
Image(url='https://cdn.programiz.com/sites/tutorial2program/files/set-symmetric-difference.jpg')

In [0]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [0]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [0]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

## Many other set methods:

`isdisjoint()`: check if 2 sets have a null intersection

`issubset()`: check if another set contains this set

`issuperset()`: check if this contains another set

Athough there are methods like `add()`, `clear()`, `copy()`, but they are not recommended for use in common scientific computations

# Dictionary: a special set that consists of both "keys" and "values"

In [0]:
my_dictionary = {}
print(type(my_dictionary))

<class 'dict'>

In [0]:
my_dictionary = {1}
print(type(my_dictionary))

<class 'set'>

In [0]:
my_dictionary = {'name': 'John', 1: [2, 4, 3]}
print(my_dictionary)

{'name': 'John', 1: [2, 4, 3]}

In [0]:
my_dictionary = dict({1:'apple', 2:'ball'})
print(my_dictionary)

{1: 'apple', 2: 'ball'}

In [0]:
my_dictionary = dict([(1,'apple'), (2,'ball')])
print(my_dictionary)

{1: 'apple', 2: 'ball'}

In [0]:
# I usually use this one:
my_dictionary = dict(
                     banana = 'apply',
                     plane = 'ball')
print(my_dictionary)

{'banana': 'apply', 'plane': 'ball'}

In [0]:
# but caution:

my_dictionary = dict(1='apple',2='ball')

SyntaxError: ignored

### Manipulate dictionary

In [0]:
my_dictionary = {'name':'Jack', 'age': 26}

# update value
my_dictionary['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dictionary)

# add item
my_dictionary['address'] = 'Downtown'  

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dictionary)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

## Iterate through a dictionary

In [0]:
a_dictionary = {item:item+1 for item in range(20)}
print(a_dictionary)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20}

In [0]:
a_dictionary = {} # empty dictionary
for item in range(20):
    a_dictionary[item] = item + 1
print(a_dictionary)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20}

In [0]:
for key,value in a_dictionary.items():
    print(key,value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
10 11
11 12
12 13
13 14
14 15
15 16
16 17
17 18
18 19
19 20

In [0]:
print(a_dictionary.keys())
print(a_dictionary.values())

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [0]:
# convert the dictionary properties to lists
print(list(a_dictionary.keys()))
print(list(a_dictionary.values()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Dictionary is very useful when we work with pandas, a Python library that works with tabular data

## A preview of how useful it is:

In [0]:
import pandas as pd
results = {'variable1': [1,2,3,4,5,6],
           'variable2': ['a','r','d','f','u','j'],
           'variable3': [True,True,False,True,True,False]}
results_table = pd.DataFrame(results)
print(results)
print(results_table)

{'variable1': [1, 2, 3, 4, 5, 6], 'variable2': ['a', 'r', 'd', 'f', 'u', 'j'], 'variable3': [True, True, False, True, True, False]}
   variable1 variable2  variable3
0          1         a       True
1          2         r       True
2          3         d      False
3          4         f       True
4          5         u       True
5          6         j      False

# Simple mathematics calculations: caution - data type

In [0]:
a = 1
b = 2
print(type(a),type(b))
print(b - a)
print(a / b) # this will be zero in python2

<class 'int'> <class 'int'>
1
0.5

In [0]:
a = 1.# notice the difference
b = 2
print(type(a),type(b))
print(b - a)
print(a / b) # this will be a float in python2

<class 'float'> <class 'int'>
1.0
0.5